<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!-- Header -->
	  <div id="header">
      <!-- Inner -->
      <div class="inner">
        <header>
          <h1><a href="#" id="logo">Helios</a></h1>
          <hr/>
          <p>Another fine freebie by HTML5 UP</p>
        </header>
        <footer>
          <a href="#banner" class="button circled scrolly">Start</a>
        </footer>
      </div>

      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="<%=root_path%>">Home</a></li>
          <li><a href="<%=pages_test_path%>">Test</a></li>
          <li><a href="<%=users_login_path%>">User Login</a></li>
          <li><a href="#">Right Sidebar</a></li>
          <li><a href="#">No Sidebar</a></li>
        </ul>
      </nav>
    </div>
    <%= yield %>
    <!-- Footer -->
    <div id="footer">
      <!-- Copyright -->
      <div class="copyright">
        <ul class="menu">
          <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
